
.center{
    text-align: center;
    font-size: 60px;
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: darkblue;
}

.p-center{
    text-align: center;
    font-size: 20px;
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: darkgreen;
}

.container{
    max-width: 520px !important;
}
