
.center{
    text-align: center;
    font-size: 60px;
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: darkblue;
}

.p-center{
    text-align: center;
    font-size: 20px;
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: darkgreen;
}

.container{
    max-width: 600px !important;
}

input::-webkit-input-placeholder {
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
}
    
input:-moz-placeholder { /* Firefox 18- */
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
}
    
input::-moz-placeholder {  /* Firefox 19+ */
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
    
input:-ms-input-placeholder {  
    font-family: "Bad Script", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
